

.background-orange {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background-color: #EB7F61;
}

.background-white {
    position: absolute;
    width: 100%;
    height: calc(100% + 1080px);
    top:1080px;
    left: 0px;
    background-color: #FFFFFF;
}


.menu-icon {
    position: absolute;
    width: 70,81px;
    height: 38,56px;
    right: 74px;
    top: 56px;
    color: #FFFFFF;
}


.uxuidesigner {
    position: absolute;
    max-width: 100%;
    height: 20px;
    left: 74px;
    top: -17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: #373737;
}

.pablocortés {
    position: absolute;
    min-width: 100%;
    height: 72px;
    right: -1047px;
    top: 752px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
    color: #373737;
}


.light {
    font-weight: 300;
    color: #373737;
}

.ABOUT {
    top: 2015px;
    position: absolute;
    width: 599px;
    height: 192px;
    right:726px;
    top: 1468px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
    text-transform: uppercase;
    color: #373737;
    transform: rotate(-90deg);
}
.aboutme-text{
    position: absolute;
    width: 833px;
    height: 252px;
    left: 1018px;
    top: 1722px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #EB794F;
}

.Bg-blue{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 2160px;
    background-color: #0D91A8;
}

.projectalpha{
    position: absolute;
    max-width: 100%;
    height: 192px;
    left: 74px;
    top: 2138px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

    color: #373737;
} 

.projectalpha-text {
    position: absolute;
    width: 833px;
    height: 252px;
    left: 15px;
    top: 318px;;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #373737;
    text-transform:lowercase;
    text-align: left;
}
.Ver-más {
    position: absolute;
    color: #373737;
    font-weight: regular;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 36px;
    left: 15px;
    top: 542px; 
}

.Bg-yellow{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 3240px;
    background-color: #ECCB55;
}


.projectbeta {
    position: absolute;
    max-width: 100%;
    height: 1920px;
    left: 512px;
    top: 3402px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
}

.projectbeta-text {
    position: absolute;
    width: 833px;
    height: 252px;
    left: 15px;
    top: 318px;;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #373737;
    text-transform:lowercase;
    text-align: center;
}

.Ver-más-beta {
    position: absolute;
    color: #373737;
    font-weight: regular;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 36px;
    left: 343px;
    top: 542px; 
    text-align: center;
}
 
.Bg-green{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 4320px;
    background-color: #A1C181;
}

.projectgamma {
    position: absolute;
    max-width: 100%;
    height: 1920px;
    left: 690px;
    top: 4556px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
    text-transform: uppercase;
    color: #373737;
}


.projectgamma-text {
    position: absolute;
    width: 833px;
    height: 252px;
    left: 225px;
    top: 318px;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #373737;
    text-transform:lowercase;
    text-align: right;
}

.Ver-más-gamma {
    position: absolute;
    color: #373737;
    font-weight: regular;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 36px;
    left: 904px;
    top: 542px; 
}




.footer {
    width: 1920px;
    height: 600px;
    background-color:#0A0909;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5400px;
    left: 0px;
    bottom: 0;
    position: absolute;
}
  
.footer-text {
    font-family: Poppins;
    color: white;
    font-size: 24px;
}




  




  
    