body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

}

.Bg-blue{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #0D91A8;
}

.projectalpha {
    /* text-align: center; */
    position: absolute;
    max-width: 100%;
    height: 192px;
    left: 74px;
    top: 143px;
    color: #373737;
}