body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

}

.Bg-green{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #A1C181;
}

.projectgamma {
    /* text-align: center; */
    position: absolute;
    max-width: 100%;
    height: 192px;
    left: 457px;
    top: 317px;
    color: #373737;
}

.bg-white {
    position: absolute;
    width: 100%;
    height: calc(100% + 2200px);
    top:1080px;
    left: 0px;
    background-color: #faf6f6;
}

.projectgamma-text-details {
    position: absolute;
    width: 833px;
    height: 252px;
    left: 549px;
    top: 1187px;
    font-size: 24px;
    line-height: 36px;
    color: #373737;
    text-transform: lowercase;
    text-align: left;
}

.project-gamma-details {
    position: absolute;
    width: 1657px;
    height: 1710px;
    left: 127px;
    top: 1712px;
}

.footer {
    width: 1920px;
    height: 600px;
    background-color:#0A0909;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: auto;
    top: 3530px;
    left: 0px;
    position: absolute;
  }
  
  .footer-text {
    font-family: Poppins;
    color: white;
    font-size: 24px;
  }
  