

.background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background-color: #EB7F61;
}

.background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 1080px);
    top:1080px;
    background-color: #FFFFFF;
}


.menu-icon {
    position: absolute;
    width: 70,81px;
    height: 38,56px;
    right: 74px;
    top: 56px;
    color: #FFFFFF;
}

.uxuidesigner {
    position: absolute;
    width: 280px;
    height: 20px;
    left: 74px;
    top: -17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: #373737;
}

.pablocortés {
    position: absolute;
    width: 335px;
    height: 72px;
    right: -891px;
    top: 752px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
    color: #373737;
}


.light {
    font-weight: 300;
    color: #373737;
}

.ABOUT {
    top: 2015px;
    position: absolute;
    width: 599px;
    height: 192px;
    right: 790;
    top: right:780;
    top: 1468px;
    right: 780;
    right: 673px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
    text-transform: uppercase;
    color: #373737;
    transform: rotate(-90deg);
}
.aboutme-text{
    position: absolute;
    width: 833px;
    height: 252px;
    left: 1018px;
    top: 1722px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #EB794F;
}

.Bg-blue{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 2210px;
    background: #0D91A8;
}

.projectalpha {
    position: absolute;
    width: 965px;
    height: 192px;
    left: 68px;
    top: 2156px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 192px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

    color: #373737;
} 

