/* style.css */
body {
    font-family: 'Poppins';
}

.Bg-yellow {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #ECCB55;
}

.projectbeta {
    position: absolute;
    font-size: 128px;
    right: -517px;
    top: 338px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #373737;
}




.bg-white {
    position: absolute;
    width: 100%;
    top: 1080px;
    left: 0px;
    background-color: #faf6f6;
}

.projectbeta-text-details {
    position: absolute;
    width: 833px;
    height: 252px;
    left: 549px;
    top: 1187px;
    font-size: 24px;
    line-height: 36px;
    color: #373737;
    text-transform: lowercase;
    text-align: left;
}

.project-beta-details {
    overflow: clip;
    overflow-clip-margin: 20px;
    position: absolute;
    width: 60%;
    left: 368px;
    top: 1566px;
}

.footer {
    width: 1920px;
    height: 600px;
    background-color:#0A0909;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: auto;
    top: 2618px;
    left: 0px;
    position: absolute;
  }
  
  .footer-text {
    font-family: Poppins;
    color: white;
    font-size: 24px;
  }
  

